*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
   font-family: sans-serif;
}
.container{
   width: 80%;
   margin: 0 auto;
}
form{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   align-items: center;
   margin-top: 1em;
}
form input{
  width: 50%;
  height: 35px;
  margin-bottom: 10px;
  outline: none;
}
form textarea{
  width: 50%;
  height: 100px;
  margin-bottom: 10px;
  outline: none;
}
form button{
   width: 50%;

   background-color: rgb(51, 51, 133);
   border: none;
   color: white;
   cursor: pointer;
}
h1{
   text-align: center;
   margin: 1em 0;
}
#notes{
   display: flex;
   flex-wrap: wrap;
}
.card a{
   width: 38%;
}